.container {
	@media (min-width: 1024px) {
		display: grid;
		grid-template-columns: 7% 73% 20%;
		grid-template-rows: auto;
	}
}

.content {
	grid-column: 2 / 3;

	@media (min-width: 1024px) {
		margin-inline: 1rem;
	}
}
