@import '../../styles/variables';

.container {
	width: 100%;
	height: 6rem;
	border-bottom: 1px $darkGray solid;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pageName {
	img {
		margin-right: 0.75rem;
	}

	span {
		vertical-align: super;
	}
}
