@import '../../styles/variables';

.header {
	display: flex;
	justify-content: space-between;
}

.itemsContainer {
	overflow-x: scroll;
}
.container {
	border-radius: 10px;
	min-height: 7rem;
	padding-inline: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	cursor: pointer;
	transition: all 0.1s;
	&:hover {
		background-color: $darkGray;
	}

	@media (min-width: 1024px) {
		gap: 0rem;
	}
}

.cryptoInfo {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 1rem;
}

.name {
	line-height: 1.5;
	min-width: 10rem;

	span {
		opacity: 0.6;
	}
}

.price {
	line-height: 1.5;
	text-align: right;
	min-width: 5rem;

	span {
		text-align: right;
	}
}

.priceChanges {
	display: flex;
	gap: 1rem;

	div {
		border-radius: 10px;
		background-color: $darkGray;
		padding: 1rem;
		line-height: 1.5;
		text-align: right;
		min-width: 5rem;

		span {
			font-size: 1rem;
			opacity: 0.6;
		}
	}
}

.positive {
	color: $colorTextGreen;
}

.negative {
	color: $colorTextRed;
}
