@import '../../styles/variables';

.container {
	display: none;
	border-left: 1px $darkGray solid;
	overflow-y: scroll;
	scrollbar-width: none;

	@media (min-width: 1024px) {
		display: block;
		position: fixed;
		width: 20%;
		height: 100%;
		right: 0;
		top: 0;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.wrapper {
	height: 100%;
	margin: 0 auto;
}

.headerContainer {
	width: 90%;
	margin: 0 auto;
	height: 6rem;
	border-bottom: 1px $darkGray solid;
	display: flex;
	align-items: center;

	h3 {
		font-size: 1rem;
		font-weight: 500;
	}
}

.newsList {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}